@tailwind base;

@tailwind components;

@tailwind utilities;

/* .product {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .product {
    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
  }
} */
